<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />

</head>
<body>


<div>
    <span style="font-weight: bold">Your personal information</span></br>
    <span th:text="'Name: '+${theCustomer.getUserName()}"></span></br>
    <span th:text="'Address:  '+${theCustomer.getAddress()}"></span></br>
    <span th:text="'Phone number:  '+${theCustomer.getPhoneNumber()}"></span></br>
    <span th:text="'Level:  '+${theCustomer.getLevel()}"></span></br>
</div>
</body>
</html>
